header.header {
    display: flex;
    background-color: white;
    border: 1px solid #c7c2c2;
  }
  
  .logo {
    height: 50px;
    width: auto;
    margin: 0%;
    padding: 0;
  }
  .user{
    font-weight: bold;
    margin: 0%;
    padding: 0;
    height: 50%
  }
  .fa-user-circle{
    color: #ec712e;
    height: 40%;
  }
  

  